input,
textarea {
    font-weight: bold!important;
}

option {
    font-weight: bold!important;
}

.recibo {
    border: 1px solid #000;
    padding: 10px;
    float: right;
    width: 180px;
    height: 100px;
    overflow: hidden;
    position: relative;
    text-align: center;
    align-items: center;
}

.recibo>input {
    border: none;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 30px;
}

.error {
    color: red;
}