.badge {
    position: relative;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    font-size: 21px;
}

.info {
    padding-top: 10px !important;
}

.tabla>tbody>tr>td {
    font-weight: bold!important;
}

.mostrar {
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: medium;
}

.modal-header {
    background-color: red;
    color: #fff;
}

.error {
    color: red!important;
}